ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

li input{
    width: 200px;
    height:25px;
    vertical-align: middle;
    margin-top: 5px;
}

p{
    float: right;
    width: 150px;
    background-color: lightgray;
    padding: 10px;
}
